<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/Register</title>
</head>
<body>
    <h1>Login</h1> 
    <form action="/users/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" >
        <button type="submit">Submit</button>
    </form>
    <h1>Register</h1>
    <form action="/users/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="register_username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="register_password" name="password" >
        <button type="submit">Submit</button>
    </form>
    <% if(errors != null && errors.length > 0) { %>
    <ul>
        <% for (var i = 0; i < errors.length; i++) { %>
            <li><%= errors[i] %></li>
        <% } %>
    </ul>
    <% } %>
</body>
</html>