/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Done with reset styling */

/* width */
::-webkit-scrollbar {
    width: 3px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: rgb(29, 28, 27);
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(83, 83, 82);
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/* Done with reset styling */

/*************************
*       Events Page      *
*************************/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background: rgb(167,0,255);
    background: linear-gradient(90deg, rgba(167,0,255,1) 0%, rgba(206,0,143,1) 66%, rgba(224,0,0,1) 100%, rgba(121,9,94,1) 100%);
    height: 96px;
    box-shadow: 0px 6px 5px rgb(194, 195, 195);
}
header h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding-top: 1.2em;
}
header a {
    color: white;
    float: right;
    font-size: 1.5rem;
    margin-right: 2em;
    position: relative;
    bottom: 1.2em;
    text-decoration: underline;
}
.container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;
    margin-left: 5%;
    z-index: 1;
}
button {
    cursor: pointer;
}
/***************************************************************
*                     Form styling                             *
***************************************************************/
#return {
    position: absolute;
    top: 7em;
    left: 90%;
    cursor: pointer;
}
.event-form-overlay {
    position: absolute;
    background: rgb(255,57,57);
    background: linear-gradient( rgba(255,57,57,.8) 0%, rgba(190, 0, 181, 0.95) 54%, rgba(123, 63, 213, 1) 100%, rgb(123, 63, 213, 1) 100%);
    z-index: 5;
    top: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    display: none;
}
.event-form-overlay h1 {
    margin-top: 5%;
    font-size: 55px;
    text-align: center;
}
.event-form-overlay h2 {
    margin-top: .3em;
    font-size: 55px;
    text-align: center;
    text-decoration: underline;
}
.event-form {
    width: 55vw;
    height: 64vh;
    border-radius: 60px;
    background-color: white;
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(6, auto);
}
.event-form label {
    color: rgb(198, 63, 213);
    margin-left: 1em;
    font-size: 1.7rem;
    font-weight: bold;
}
.event-form input::placeholder {
    font-size: 1rem;
    padding-left: 15px;
}
#eventReminder::placeholder {
    padding-left: 55px;
}
#eventDesc::placeholder {
    font-size: 1.05rem;
    padding-left: 10px;
}
.event-form input {
    margin-left: 2em;
    border: solid 2px rgb(198, 63, 213);
    border-radius: 10px;
    width: 35em;
    height: 3em;
}
.event-form textarea {
    border: solid 2px rgb(198, 63, 213);
    border-radius: 10px;
    margin-left: 2em;
    resize: none;
    width: 35em;
    height: 10em;
}
#eventName-label {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 2em;
}
#eventName {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#eventLoc-label {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: .5em;
}
#eventLoc {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: -8px;
}
#eventDesc-label {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: .75em;
}
#eventDesc {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
    margin-top: -8px;
}
#eventDate-label {
    margin-top: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;   
    margin-top: 50px;
}
#eventDate {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
#eventTime-label {
    margin-top: .75em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
    bottom: 7px;
}
#eventTime {
    margin-top: -8px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}
#eventReminder-label {
    margin-top: 1em;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    position: relative;
    top: 40px;
    margin-left: 7em;
}
#reminderList {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    width: 15em;
    height: 4em;
    font-size: 1rem;
    margin-left: 10em;
    border: solid 2px rgb(198, 63, 213);
    border-radius: 10px;
    position: relative;
    top: 40px;
}
.event-form button {
    width: 6em;
    box-shadow: none;
    background-color: rgb(123, 63, 213);
    border: none;
    border-radius: 50px;
    right: 2em;
    color: white;
    font-size: 1.7rem;
    position: relative;
    bottom: 55px;
    font-weight: 500;
    height: 40px;
}
#trash {
    width: 50px;
    position: relative;
    bottom: 20px;
    left: 60em;
    cursor: pointer;
}
#cardNumber {
    display: none;
}
/***************************************************************
*                     Card styling                             *
***************************************************************/
.card-container {
    margin-top: 25%;
    height: 300px;
    width: 237px;
}
.card-container h1 {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size: 2rem;
    height: 2em;
}
.event-date {
    text-align: center;
    font-size: 1.2rem;
    text-decoration: underline;
    margin-top: 10%;
    text-shadow: 2px 2px 5px gray;
}
.event-loc {
    margin-top: 3%;
    text-align: center;
    font-size: 1rem;
}
.event-time {
    margin-top: 3%;
    text-align: center;
    font-size: 1rem;
}
.card-container img {
    margin-top: 6%;
    max-width: 12%;
    max-height: 12%;
    display: block;
    margin-left: 2%;
    cursor: pointer;
}
.card-one {
    border: solid gray 1px;
    box-shadow: 6px 6px 5px gray;
    display: block;
}
.card-button {
    margin-left: 22%;
    margin-top: 15%;
    background-color: rgb(123, 63, 213);
    color: white;
    font-size: 1.2rem;
    border-radius: 60px;
    width: 130px;
    height: 36px;
    border-style: solid;
    cursor: pointer;
}
.card-two {
    border: solid gray 1px;
    box-shadow: 6px 6px 5px gray;
}
.card-three {
    border: solid gray 1px;
    box-shadow: 6px 6px 5px gray;
}
.card-four {
    border: solid gray 1px;
    box-shadow: 6px 6px 5px gray;
}
.card-five {
    border: solid gray 1px;
    box-shadow: 6px 6px 5px gray;
}
.card-six {
    border: solid gray 1px;
    box-shadow: 6px 6px 5px gray;
}
.card-seven {
    border: solid gray 1px;
    box-shadow: 6px 6px 5px gray;
}
.card-eight {
    border: solid gray 1px;
    box-shadow: 6px 6px 5px gray;
}
.card-nine {
    border: solid gray 1px;
    box-shadow: 6px 6px 5px gray;
}
.card-ten {
    border: solid gray 1px;
    box-shadow: 6px 6px 5px gray;
}